.timeline-body {
  @extend .vertical-timeline;
}

.timeline-item {
  @extend .vt-item;
}

// Timeline-specific tweaks (optional)
.timeline-body .content .date {
  margin-top: 0;
  margin-bottom: 12px;
}