{% assign pubs_publication = site.academic | where: "type", "publication" %}
{% assign pubs_journal = site.academic | where: "type", "journal" %}
{% assign pubs = pubs_publication | concat: pubs_journal | sort: "year" | reverse %}
{% assign talks = site.academic | where: "type", "talk" | sort: "year" | reverse %}
{% assign posters = site.academic | where: "type", "poster" | sort: "year" | reverse %}

<h3 class="mb-3">Publications</h3>
<div class="row">
  {% for doc in pubs %}
    <div class="col-12 col-md-6 col-lg-6 mb-4">
      {% include academic/card.html doc=doc %}
    </div>
  {% endfor %}
</div>

<hr class="bg-light my-4">

<h3 class="mb-3">Talks</h3>
<div class="row">
  {% for doc in talks %}
    <div class="col-12 col-md-6 col-lg-6 mb-4">
      {% include academic/card.html doc=doc %}
    </div>
  {% endfor %}
</div>

<hr class="bg-light my-4">

<h3 class="mb-3">Posters</h3>
<div class="row">
  {% for doc in posters %}
    <div class="col-12 col-md-6 col-lg-6 mb-4">
      {% include academic/card.html doc=doc %}
    </div>
  {% endfor %}
</div>